$primary-color: #f4bdaa;
$secondary-color : #504f50;
$enhanced-color: #f0aa91;
$link-color: #a3c0ae;
$bg-color: #f9f9f9;
$text-color: #3a3231;

$fs-07: .7rem;
$fs-08: .8rem;
$fs-09: .9rem;

body {
    color: $text-color;
    font-family: 'Montserrat', sans-serif;
    &.lab-light {
        background: $bg-color;
    }
    a {
        color: $primary-color;
        text-decoration: none;
        transition: all .25s ease-in-out;
        &:before {
            transition: all .3s ease-in-out;
        }
    }
}

.cooqueen {
    header {
        .lab-nav {
            background-image: url('../../assets/images/bground/motif-primary.jpg');
            background-repeat: repeat-x;
            font-size: $fs-08;
            a, span {
                color: rgba(0, 0, 0, 0.35);           
            }
            .lab-article-link {
                padding: 1rem .25rem;
                text-decoration: none;
                &:hover {
                    background: rgba(0, 0, 0, 0.1);
                    color: rgba(0, 0, 0, 0.5);
                }
            }
        }
        .title {
            font-family: 'Bebas Neue', cursive;
            font-size: 5rem;
            letter-spacing: -2px;
            color: $enhanced-color;
        }
        .desc {
            margin-top: -1.5rem;
            font-size: .65rem;
            letter-spacing: 5px;
        }
        .main-nav {
            .list-inline-item {
                margin-right: 2.5rem;
                &.active {
                    border-bottom: 3px solid $link-color;
                }
            }
            a {
                position: relative;
                color: $text-color;
                font-size: $fs-09;
                &:before {
                    position: absolute;
                    bottom: -6px;
                    left: 0;
                    display: block;
                    width: 0;
                    height: 2.5px;
                    content: "";
                    background: $link-color;
                }
                &:hover:before {
                    width:100%;
                }
            } 
        }
    }
    .wrapper {    
        max-width: 1080px;
        .masonry {
            transition: all .5s ease-in-out;
            column-gap: 30px;
            column-fill: initial;
            .brick {
                margin-bottom: 30px;
                display: inline-block; 
                vertical-align: top;
                background: $primary-color;
                img {
                    opacity: 1;
                    display: block;
                    width: 100%;
                    height: auto;
                    transition: all .5s ease-in-out;
                    backface-visibility: hidden;
                }
                &:hover img {
                    opacity: .1;
                }
                .backside {
                    transition: .5s ease;
                    opacity: 0;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    text-align: center;
                }
                &:hover .backside {
                    opacity: 1;
                }
            }
        }
    }
    .main-box {
        max-width: 90%;
        .separator {
            background-image: url('../../assets/images/bground/motif-primary.jpg');
            background-repeat: repeat-x;
            height: 40px;
        }
        .recipe-title {
            font-family: 'Bebas Neue', cursive;
            font-size: 2rem;
            color: $link-color;
        }
        .recipe-info {
            font-size: .85rem;
        }
        .ingredients-box {
            background: #e6ebe8;
            h4 {
                color: $link-color;
                font-family: 'Bebas Neue', cursive;
                font-size: 1.25rem;
            }
            .ingredients {
                span {
                    display: block;
                    margin-bottom: .75rem;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: $fs-08;
                }
                ul {
                    list-style: none;
                    column-count: 2;
                    li {
                        display: block;
                        text-transform: uppercase;
                        font-size: $fs-07;
                        &:before {
                            position: relative;
                            top: -2px;
                            content: " - ";
                        }

                    }
                }
            }

           
        }
        .elaboration-box {
            p {
                font-size: $fs-08;
                text-align: justify;
                margin-bottom: .75rem;
                span {
                    font-size: $fs-09;
                    font-weight: bold;
                    color: $enhanced-color;
                    padding-right: .25rem;
                }
            }
        }
    }
    footer {
        height: 50px;
        background-image: url('../../assets/images/bground/motif-primary.jpg');
        background-repeat: repeat-x;
        font-size: $fs-08;
        .brand {
            font-family: 'Bebas Neue', cursive;
            font-size: 1.25rem;
            color: $enhanced-color;
            padding-top: 1px;
        }
    }  
}








@media only screen and (min-width: 320px) and (max-width: 1023px) {
    .masonry {
        column-count: 2;
    }
}
@media only screen and (min-width: 1024px) {
    .masonry {
        column-count: 3;
    }
}
